<ion-header>
  <ion-toolbar>
    <div id="toolbar-details">
      <div class="toolbar-title">
        <ion-title>{{task?.title}}</ion-title>
      </div>
      <div class="toolbar-icons">
        <ion-icon routerLink="/edit-task/{{id}}" name="create"></ion-icon>
        <ion-icon (click)="delete(id)" name="close-circle"></ion-icon>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h3 class="task-content-heading">Content:</h3>
  <p class="task-content">{{task?.content}}</p>
</ion-content>