.add-task-form-input{
    font-size: 18px;
    margin-bottom: 5px;
    padding-bottom: 40px;
}

.add-labels{
    float: left;
    width: 30%;
    text-align: right;
    padding: 3px 5px 0 0;
}

.add-inputs{
    float: right;
    width: 70%;
}

.add-btn{
    font-size: 14px;
    padding: 7px 17px;
    float: right;
}