.add-task-form-input{
    font-size: 18px;
    margin-bottom: 5px;
    padding-bottom: 40px;
}

.add-labels{
    float: left;
    width: 30%;
    text-align: right;
    padding: 3px 5px 0 0;
}

.add-inputs{
    border-radius: 5px;
    border: 1px solid lightblue;
    float: right;
    width: 70%;
}

.add-btn{
    background: none;
    border: 1px solid lightblue;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 25px;
    float: right;
}