<ion-header>
  <ion-toolbar>
    <ion-title>Add Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #f="ngForm" (ngSubmit)="f.form.valid && add()">
    <ion-item>
      <ion-label color="{{ f.controls.title?.invalid && f.controls.title.dirty ? 'danger' : 'dark' }}">Title:</ion-label>
      <ion-input clearInput required type="text" name="title" id="title" [(ngModel)]="bindingModel.title" minlength="2"
        maxlength="50"></ion-input>
    </ion-item>
    <ion-label text-wrap *ngIf="f.controls.title?.invalid && f.controls.title.dirty">Title must be between 2
      and 50 symbols!</ion-label>

    <ion-item>
      <ion-label color="{{ f.controls.content?.invalid && f.controls.content.dirty ? 'danger' : 'dark' }}">Content:</ion-label>
      <ion-input clearInput required type="text" name="content" id="content" [(ngModel)]="bindingModel.content"
        minlength="2" maxlength="50"></ion-input>
    </ion-item>
    <ion-label text-wrap *ngIf="f.controls.content?.invalid && f.controls.content.dirty">Content must be between 2 and
      150 symbols!</ion-label>

    <div class="form-submit-btn">
        <ion-button color="primary" type="submit" [disabled]="f.invalid">Add</ion-button>
    </div>
  </form>
</ion-content>