<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="buttonText" [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #f="ngForm" (ngSubmit)="f.form.valid && edit()">
    <ion-item>
      <ion-label color="{{ f.controls.title?.invalid && f.controls.title.dirty ? 'danger' : 'dark' }}">Title:</ion-label>
      <ion-input (keyup.enter)="f.form.valid && edit()" clearInput required type="text" name="title" id="title" [(ngModel)]="bindingModel.title" minlength="2"
        maxlength="50"></ion-input>
    </ion-item>
    <ion-label text-wrap *ngIf="f.controls.title?.invalid && f.controls.title.dirty">Title must be between 2
      and 50 symbols!</ion-label>

    <ion-label class="content-label" color="{{ f.controls.content?.invalid && f.controls.content.dirty ? 'danger' : 'dark' }}">Content:</ion-label>
    <ion-item class="input-content">
      <ion-textarea rows="4" clearInput required type="text" name="content" id="content" [(ngModel)]="bindingModel.content"
        minlength="2" maxlength="150"></ion-textarea>
    </ion-item>
    <ion-label class="content-error" text-wrap *ngIf="f.controls.content?.invalid && f.controls.content.dirty">Content
      must be between 2 and
      150 symbols!</ion-label>

    <div class="form-submit-btn">
      <ion-button form-submit-btn color="primary" type="submit" [disabled]="f.invalid">Edit</ion-button>
    </div>
  </form>
</ion-content>