// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.nav-icons{
    background-color: #e8e8e8;
    border: 1px solid #dcdcdc;
    border-radius: 50%;
    font-size: 30px;
    font-weight: 100;
    position: absolute;
    bottom: 30px;
    right: 30px;
    padding: 17px 18px 15px 18px;
}