// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "assets/fonts/league-gothic.scss";

.title-md {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.form-submit-btn {
    text-align: right;
    float: right;
    width: 100%;    
}

.task-home-title {    
    font-family: 'League Gothic Regular';
    font-size: 20px;
    font-kerning: 2px;
    text-decoration: none;
    color: var(--ion-color-dark-tint);
}

.success-toast {
    --background: var(--ion-color-success-shade);
}

.more-icon {
    font-size: 30px;
}

.more-icon ion-icon {
    margin-bottom: 15px;
}

.content-label {
    float: left;
    margin-right: 0;
}

.input-content {
    float: right;
    width: 80%;
}

.content-error {
    width: 100%;
}