.task-home-title{    
    padding: 10px;
    margin: 10px;
}

.details-link{
    text-decoration: none;
}

.div-details{
    border-radius: 5px;
}

.div-details:nth-of-type(odd){
    background-color: rgb(225, 230, 231);
}

.div-details:nth-of-type(even){
    background-color: whitesmoke;
}